<footer class="main-footer" id="main-footer">
    <div class="row">
        <div class="col-md-6">基于 <a href="http://camaleon.tuzitio.com" target="_blank">Camaleon CMS</a>，由 <strong><a href="https://www.linktion.cn" target="_blank">英选</a> </strong>提供技术支持</div>
        <div class="col-md-6 hidden-xs">
            <div class="pull-left">
                <a id="link_see_intro" href="#" onclick="init_intro(); return false;"><i class="fa fa-tv"></i> <%= I18n.t('camaleon_cms.see_intro') %></a>
            </div>
            <div class="pull-right">
                <b><%= I18n.t('camaleon_cms.version') %> </b><%= CamaleonCms::VERSION %>
            </div>
        </div>
    </div>
</footer>
